#API
fastapi==0.111.0
uvicorn==0.30.1
fastapi.middleware.cors



#APP
streamlit==1.22.0
watchdog

#.env
python-dotenv==1.0.1

#analysis
numpy==1.23.5
pandas==1.5.3
DateTime==5.5

# Machine Learning, preprocessing & loading
scikit-learn==1.2.2

# Deep Learning
tensorflow==2.10.0
